<div class="cart-container">
  <h2>Your Shopping Cart</h2>

  <!-- Loop through cart items -->
  <div *ngFor="let item of cartItems" class="cart-item">
    <img [src]="item.image" alt="Product Image" class="cart-item-image">
    <div class="cart-item-details">
      <h4>{{ item.name }}</h4>
      <!-- <p>Price: {{ item.price | currency }}</p> -->
      <div class="cart-item-actions">
        <label for="quantity">Quantity:</label>
        <input type="number" [value]="item.quantity" (change)="updateQuantity(item, $event)" min="1">
        <button (click)="removeFromCart(item)" class="remove-btn">Remove</button>
      </div>
    </div>
  </div>

  <div class="cart-summary">
    <!-- <h3>Total: {{ totalPrice | currency }}</h3> -->
    <button (click)="navigateToPayment()" class="btn btn-link">Proceed to Checkout</button>
  </div>
</div>
