<div class="cart-container">
  <h2 class="auth-title">Your cart</h2>

  <div *ngFor="let item of cartItems" class="cart-item">
    <img [src]="item.image" alt="Product Image" class="cart-item-image">

    <div class="cart-item-details">
      <h4 class="product-name">{{ item.name }}</h4>
      <p class="product-price">{{ item.price | currency:'EGP':'symbol-narrow' }}</p>
    </div>

    <div class="cart-item-controls">
      <div class="quantity-control">
        <button (click)="decreaseQuantity(item)">−</button>
        <span>{{ item.quantity }}</span>
        <button (click)="increaseQuantity(item)">+</button>
      </div>
      <button (click)="removeFromCart(item)" class="remove-btn">Remove item</button>


    </div>

    <div class="item-total">
      {{ item.price * item.quantity | currency:'EGP':'symbol-narrow' }}
    </div>
  </div>

  <div class="cart-summary">
    <h3>Estimated total: {{ totalPrice | currency:'EGP':'symbol-narrow' }}</h3>
    <p class="note">Taxes, discounts and shipping calculated at checkout</p>
    <button (click)="navigateToPayment()" class="primary-button">Check out</button>

  </div>
</div>
