<div class="menu-icon" (click)="toggleSidebar()">&#9776;</div>


<nav class="sidebar" [class.open]="sidebarOpen">
    <ul>
        <li class="sidebar-item"><a href="/">Home</a></li>
        <li class="sidebar-item"><a href="/shop">Products</a></li>
        <li class="sidebar-item"><a href="/dashboard/orders">Orders</a></li>
        <li class="sidebar-item"><a href="/login">Logout</a></li>
      </ul>
    </nav>
      
  
  <div class="overlay" *ngIf="sidebarOpen" (click)="toggleSidebar()"></div>
  
  <div class="main-content">
   
  </div>

<div class="dashboard">
    <h1>Admin Dashboard</h1>
  
     <!-- Product Form -->
     <form (ngSubmit)="submitProduct()" #productForm="ngForm">
      <input
        type="text"
        name="name"
        [(ngModel)]="product.name"
        placeholder="Product Name"
        required
      />
      <input
        type="number"
        name="price"
        [(ngModel)]="product.price"
        placeholder="Price"
        required
      />
      <textarea
        name="description"
        [(ngModel)]="product.description"
        placeholder="Description"
        required
      ></textarea>
      <input
        type="file"
        (change)="onFileChange($event)"
        accept="image/*"
      />
      <button type="submit">Add Product</button>
    </form>
<section>
    <!-- Placeholder Buttons for Future -->
    <button (click)="editProduct(product)">Edit</button>
    <button (click)="deleteProduct(product._id!)">Delete</button>
  </section>

  <!-- Orders Management -->
  <section class="orders-management">
    <h2>View Customer Orders</h2>
    <button>View Orders</button>
  </section>
</div>
