<div class="hero">
  <div class="hero-content">
    <h1>Discover Your Style</h1>
    <p>Trendy fashion for Men, Women, Kids & More</p>
    <a href="/product-list" class="shop-button">Shop All</a>
  </div>
</div>
<div class="main-content">
  
 
  <div class="category">
    <h3>Men</h3>
    <div class="category-image">
      <a href="/men">
        <img class="category-img" src="https://i.pinimg.com/736x/f2/af/96/f2af9609123155babccd28382cf9ef13.jpg" alt="Men Fashion">
      </a>
    </div>
  </div>


  <div class="category">
    <h3>Women</h3>
    <div class="category-image">
      <a href="/women">
        <img class="category-img" src="https://i.pinimg.com/736x/9f/bf/71/9fbf71d1b1597003059002b9c47e695a.jpg" alt="Women Fashion">
      </a>
    </div>
  </div>


  <div class="category">
    <h3>Kids</h3>
    <div class="category-image">
      <a href="/kids">
        <img class="category-img" src="https://i.pinimg.com/736x/4a/71/c9/4a71c9715e50206190a54febf9fcfbce.jpg" alt="Kids Fashion">
      </a>
    </div>
  </div>


  <div class="category">
    <h3>Beauty & Personal Care</h3>
    <div class="category-image">
      <a href="/beauty">
        <img class="category-img" src="https://i.pinimg.com/736x/44/cf/55/44cf55caae377fadb118b02060a705e0.jpg" alt="Beauty & Personal Care">
      </a>
    </div>
  </div>

</div>