.hero {
  background-image: url('https://i.pinimg.com/originals/3d/f4/20/3df4204c406a8165f17343a4f577fcb1.jpg'); 
  background-size: cover;
  background-position: center;
  padding: 70px 0px;
  text-align: center;
  color: white;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.4); 
  z-index: 0;
}

.hero-content {
  position: relative;
  z-index: 1;
  max-width: 700px;
  margin: auto;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.shop-button {
  padding: 10px 20px;
  background-color: #ff6600;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.shop-button:hover {
  background-color: #e65c00;
}

.main-content {
  padding: 20px;
  background-color: #f8f8f8;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}

/* Category Section Styles */
.category {
  margin-top: 60px;
  text-align: left;
}

.category h3 {
  font-size: 2.5rem;
  font-family: 'Georgia', serif;
  font-weight: bold;
  margin-bottom: 20px;
  color: #222;
}

/* Category Image Container */
.category-image {
  width: 100%;
  overflow: hidden;
}


.category-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: top; 
  border-radius: 8px;
  transition: transform 0.3s ease;
}




/* Optional: Hover effect */
.category-img:hover {
  transform: scale(1.02);
}
